.container {
  max-width: 1146px;
  width: 100%;
  margin: 0 auto;
}

.container h1 {
  margin-top: 57px;
  margin-bottom: 7px;
  color: #5863e3;
  font-family: Helvetica;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container h2 {
  color: #000;
  font-family: Helvetica;
  font-size: 49px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container h3 {
  color: #000;
  font-family: Helvetica;
  font-size: 49px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 57px;
}

.text > textarea {
  resize: none;
  max-width: 756px;
  height: 298px;
  padding: 20px;
  width: 100%;
  border: 2px solid rgba(212, 211, 211, 0.3);
  background: #f8f8f8;
}

.text {
  max-width: width 756px;
}

.text-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: -300px;
}

.text1 {
  max-width: 350px;
  width: 100%;
  height: 59px;
  margin-bottom: 20px;
  padding: 21px;
  border: 2px solid rgba(212, 211, 211, 0.3);
  background: #f8f8f8;
}

.text2 {
  max-width: 350px;
  width: 100%;
  height: 59px;
  margin-bottom: 20px;
  padding: 21px;
  border: 2px solid rgba(212, 211, 211, 0.3);
  background: #f8f8f8;
}

.email {
  max-width: 350px;
  width: 100%;
  height: 59px;
  margin-bottom: 20px;
  padding: 21px;
  border: 2px solid rgba(212, 211, 211, 0.3);
  background: #f8f8f8;
}

.button-1 {
  max-width: 350px;
  width: 100%;
  height: 59px;
  margin-bottom: 20px;
  padding: 21px;
  background: #5968f4;
}

@media (max-width: 600px) {
  .text-1 {
    margin-top: 50px;
    margin-right: 20px;
  }
}

/* აქ დავამთავრე პირველი სექცია */

.container-2 {
  max-width: 987px;
  margin: 0 auto;
}

.c-2 {
  margin-top: 51px;
}

.flex-1 {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .flex-1 {
    flex-direction: column;
    margin-left: 200px;
    gap: 50px;
  }
}

.card-1 {
  position: relative;
  border-radius: 50%;
  background-color: #5968f4;
  width: 68px;
  height: 68px;
  margin-bottom: 16px;
}

.frame {
  position: absolute;
  top: 20px;
  left: 15px;
}

.email-2 {
  color: #4e4d54;
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 7px;
  margin-bottom: 8px;
}

.aducat {
  color: #99999a;
  font-family: Helvetica;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: -60px;
}

.aducat-2 {
  display: block;
  color: #99999a;
  font-family: Helvetica;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 8px;
  margin-left: -80px;
}

.card1 {
  width: 226px;
}

.card-2 {
  position: relative;
  border-radius: 50%;
  background-color: #5968f4;
  width: 68px;
  height: 68px;
  margin-bottom: 16px;
}

.card2 {
  width: 122px;
}

.phone {
  position: absolute;
  top: 13px;
  left: 8px;
}

.phone-1 {
  color: #4e4d54;
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 7px;
  margin-bottom: 8px;
}

.tel-1 {
  color: #99999a;
  font-family: Helvetica;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: -20px;
}

.tel-2 {
  display: block;
  color: #99999a;
  font-family: Helvetica;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 8px;
  margin-left: -20px;
}

.card-3 {
  position: relative;
  border-radius: 50%;
  background-color: #5968f4;
  width: 68px;
  height: 68px;
  margin-bottom: 16px;
}

.locat {
  position: absolute;
  top: 15px;
  left: 22px;
}

.locat-2 {
  color: #4e4d54;
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 8px;
}

.mail {
  color: #99999a;
  font-family: Helvetica;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: -28px;
}

.york {
  color: #99999a;
  font-family: Helvetica;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: -39px;
  margin-top: 8px;
}

/* აქ დავამთავრე მეორე სექცია */

.s-3 {
  margin-top: 74px;
}

.s-div {
  margin-left: 144px;
  max-width: 548px;
  margin-bottom: 53px;
}

.p-1 {
  color: #5863e3;
  font-family: Helvetica;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.h-3 {
  color: #000;
  font-family: Helvetica;
  font-size: 49px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.h-4 {
  color: #000;
  font-family: Helvetica;
  font-size: 49px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.flex-2 {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 600px) {
  .flex-2 {
    flex-direction: column;
    gap: 50px;
  }
}
